#footrow{
    background-color: $sixty;
    #footcol1{
        color: $thirty;
        a{
            color: $thirty;
            i{
                font-size: 1.4rem;
                margin: .6rem 1rem 0 0;
            }
        }
    }
    #footcol2{
        text-align: end;
        color: $thirty;
        margin: .6rem 1rem .2rem 0 ;
    }
}